.container {
  background-image: url('../images/pista.jpeg');
  width: 380px;
}

.buttons {
  height: 30px;
}

.scoreBox {
  margin: 0 150px 20px 150px ;
  height: 70px;
  border:3px solid grey;
}

.headerBox {
  border-bottom: 3px solid black;
  text-align: center;
}

.rowA {
  height: 20px;
}

.columnA {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
}

.columnB {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.rowB {
  position: relative;
  text-align: center;
  margin-top: 5px;
}

.bowls {
  height: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.top {
  width: 10px;
  height: 15px;
  position: relative;
  left: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid red;
  border-radius: 50px;
  background-color: white;
}

.neck {
  width: 6px;
  height: 8px;
  left: 7px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  background-color: white;
  border-bottom: 3px solid red;
}

.bottom {
  height: 50px;
  width: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 10px/20px;
  background-color: white;
}

.bowl {
  border: none;
  background-color: transparent;
  height: 75px;
  width: 22px;
  position: absolute;
  z-index: 3;
}

.pin1 {
  left: 180px;
  top: 125px;
}

.pum1 {
  animation: pum1 1s forwards linear;
}

@keyframes pum1 {
  50% {
    transform: rotate(-12deg);
    left: 180px;
    top: 125px;
  }
  100% {
    transform: rotate(-435deg);
    top: 20px;
    left: 30px;
  }
}

.pin2 {
  left: 150px;
  top: 95px;
}

.pum2 {
  animation: pum2 1s forwards linear;
}

@keyframes pum2 {
  50% {
    transform: rotate(-12deg);
    left: 150px;
    top: 95px;
  }
  100% {
    transform: rotate(-315deg);
    top: 0px;
    left: 40px;
  }
}

.pin3 {
  left: 210px;
  top: 95px;
}

.pum3 {
  animation: pum3 1s forwards linear;
}

@keyframes pum3 {
  50% {
    transform: rotate(12deg);
    left: 210px;
    top: 95px;
  }
  100% {
    transform: rotate(-435deg);
    top: 20px;
    left: 330px;
  }
}

.pin4 {
  left: 120px;
  top: 50px;
}

.pum4 {
  animation: pum4 1s forwards linear;
}

@keyframes pum4 {
  50% {
    transform: rotate(-22deg);
    left: 120x;
    top: 50px;
  }
  100% {
    transform: rotate(-415deg);
    top: 10px;
    left: 40px;
  }
}

.pin5 {
  left: 180px;
  top: 50px;
}

.pum5 {
  animation: pum5 1s forwards linear;
}

@keyframes pum5 {
  50% {
    transform: rotate(22deg);
    left: 180x;
    top: 50px;
  }
  100% {
    transform: rotate(-415deg);
    top: 10px;
    left: 340px;
  }
}

.pin6 {
  left: 240px;
  top: 50px;
}

.pum6 {
  animation: pum6 1s forwards linear;
}

@keyframes pum6 {
  50% {
    transform: rotate(12deg);
    left: 240px;
    top: 50px;
  }
  100% {
    transform: rotate(-315deg);
    top: 0px;
    left: 340px;
  }
}

.pin7 {
  left: 90px;
}

.pum7 {
  animation: pum7 1s forwards linear;
}

@keyframes pum7 {
  50% {
    transform: rotate(-12deg);
    left: 90px;
  }
  100% {
    transform: rotate(-385deg);
    left: 34px;
  }
}

.pin8 {
  left: 150px;
}

.pum8 {
  animation: pum8 1s forwards linear;
}

@keyframes pum8 {
  50% {
    transform: rotate(-12deg);
    left: 150px;
  }
  100% {
    transform: rotate(-305deg);
    left: 42px;
  }
}

.pin9 {
  left: 210px;
}

.pum9 {
  animation: pum9 1s forwards linear;
}

@keyframes pum9 {
  50% {
    transform: rotate(12deg);
    left: 210px;
  }
  100% {
    transform: rotate(-305deg);
    left: 320px;
  }
}

.pin10 {
  left: 270px;
}

.pum10 {
  animation: pum10 1s forwards linear;
}

@keyframes pum10 {
  50% {
    transform: rotate(12deg);
    left: 270px;
  }
  100% {
    transform: rotate(-385deg);
    top: 5px;
    left: 320px;
  }
}
