.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/pista.jpeg');
  width: 380px;
  height: 900px;
}

.buttons {
  height: 30px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 5px 0;
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 150px;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  height: 75px;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
}

.carousel__nav {
  padding: 1.25rem .5rem;
}

.slider-nav {
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: .5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
  margin-left: 5px;
}

.slider-nav:hover,
.slider-nav:active {
  background-color: #000;
  color: #fff;
}

.scoreBox {
  width: 10em;
  height: 70px;
  border:3px solid grey;
}

.headerBox {
  border-bottom: 3px solid black;
  text-align: center;
}

.rowA {
  height: 20px;
}

.columnA {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
}

.columnB {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.rowB {
  position: relative;
  text-align: center;
  margin-top: 5px;
}

.bowls {
  height: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
  left: -11px; /* Middle of ping width */
  position: relative;
}

.bowl {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pinTop {
  border: none;
  background-size: 100%;
  height: 67px;
  width: 22px;
  z-index: 3;
  background-image: url('../assets/images/pin.png');
}

.animatedPin {
  animation: moveIt 1.5s ease-in-out infinite;
  transform-origin: 50% 75%;
}

.pinShawod {
  width: 8px;
  height: 7px;
  margin-top: -5px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: 1;
}

.animatedPinShadow {
  animation: moveShade 1.5s ease-in-out infinite;
}

@keyframes moveIt {
  from {transform: rotate(0deg); opacity: 100%; animation-timing-function: ease-out;}
  25% {transform: rotate(8deg); opacity: 80%; animation-timing-function: ease-in;}
  50% {transform: rotate(0deg); opacity: 100%; animation-timing-function: ease-out;}
  75% {transform: rotate(-8deg); opacity: 80%; animation-timing-function: ease-in;}
  to {transform: rotate(0deg);opacity: 100%; }
}

@keyframes moveShade {
  from {transform: translateX(0px); filter: blur(3px); opacity: 100%; animation-timing-function: ease-out;}
  25% {transform: translateX(10px) scale(3, 0.9); filter: blur(4px); opacity: 80%; animation-timing-function: ease-in;}
  50% {transform: translateX(0px); filter: blur(3px); opacity: 100%; animation-timing-function: ease-out;}
  75% {transform: translateX(-10px) scale(3, .9); filter: blur(4px); opacity: 80%; animation-timing-function: ease-in;}
  to {transform: translateX(0px); filter: blur(3px); opacity: 100%;}
}

.ball {
  border: none;
  background-size: 100%;
  position: relative;
  height: 90px;
  width: 90px;
  padding-top: 72px;
  z-index: 3;
  background-image: url('../assets/images/bowling-ball.png');
}

.animatedBall {
  animation: rollingBall 0.5s forwards linear;
}

@keyframes rollingBall {
  50% {
    transform: rotate(22deg);
    opacity: 100%;
    top: 0px;
  }
  100% {
    transform: rotate(-215deg);
    opacity: 0;
    top: -100px;
  }
}

.pin1 {
  top: 135px;
}

.pin2 {
  left: -30px;
  top: 90px;
}

.pin3 {
  left: 30px;
  top: 90px;
}

.pin4 {
  left: -60px;
  top: 45px;
}

.pin5 {
  top: 45px;
}

.pin6 {
  left: 60px;
  top: 45px;
}

.pin7 {
  left: -90px;
}

.pin8 {
  left: -30px;
}

.pin9 {
  left: 30px;
}

.pin10 {
  left: 90px;
}

.pum1 {
  animation: pum1 1s forwards linear;
}


.pum2 {
  animation: pum2 1s forwards linear;
}


.pum3 {
  animation: pum3 1s forwards linear;
}


.pum4 {
  animation: pum4 1s forwards linear;
}


.pum5 {
  animation: pum5 1s forwards linear;
}


.pum6 {
  animation: pum6 1s forwards linear;
}


.pum7 {
  animation: pum7 1s forwards linear;
}


.pum8 {
  animation: pum8 1s forwards linear;
}


.pum9 {
  animation: pum9 1s forwards linear;
}


.pum10 {
  animation: pum10 1s forwards linear;
}

@keyframes pum1 {
  50% {
    transform: rotate(22deg);
    opacity: 100%;
    left: -10x;
    top: 110px;
  }
  100% {
    transform: rotate(-215deg);
    opacity: 0;
    left: -70x;
    top: 0px;
  }
}

@keyframes pum2 {
  50% {
    transform: rotate(-12deg);
    opacity: 100%;
    top: 80px;
    left: -35px;
  }
  100% {
    transform: rotate(-155deg);
    opacity: 0;
    top: 0px;
    left: -80px;
  }
}

@keyframes pum3 {
  50% {
    transform: rotate(12deg);
    left: 40px;
    opacity: 100%;
    top: 80px;
  }
  100% {
    transform: rotate(-235deg);
    opacity: 0;
    top: 20px;
    left: 120px;
  }
}

@keyframes pum4 {
  50% {
    transform: rotate(-22deg);
    opacity: 100%;
    left: -60x;
    top: 30px;
  }
  100% {
    transform: rotate(-215deg);
    opacity: 0;
    left: -100px;
  }
}

@keyframes pum5 {
  50% {
    transform: rotate(22deg);
    opacity: 100%;
    left: -10x;
    top: 30px;
  }
  100% {
    transform: rotate(-215deg);
    opacity: 0;
    left: -10x;
    top: 0px;
  }
}

@keyframes pum6 {
  50% {
    transform: rotate(12deg);
    opacity: 100%;
    left: 60px;
    top: 30px;
  }
  100% {
    transform: rotate(-315deg);
    opacity: 0;
    left: 100px;
  }
}

@keyframes pum7 {
  50% {
    transform: rotate(-12deg);
    opacity: 100%;
  }
  100% {
    transform: rotate(-165deg);
    opacity: 0;
  }
}

@keyframes pum8 {
  50% {
    transform: rotate(-12deg);
    opacity: 100%;
  }
  100% {
    transform: rotate(-155deg);
    opacity: 0;
  }
}

@keyframes pum9 {
  50% {
    transform: rotate(12deg);
    opacity: 100%;
  }
  100% {
    transform: rotate(-155deg);
    opacity: 0;
  }
}

@keyframes pum10 {
  50% {
    transform: rotate(12deg);
    opacity: 100%;
  }
  100% {
    transform: rotate(-165deg);
    opacity: 0;
  }
}
